= form_for @concordance do |f|
  - if @concordance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@concordance.errors.count, "error")} prohibited this concordance from being saved:"
      %ul
        - @concordance.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :concordance
    = f.text_area :concordance
  .field
    = f.label :is_it_lemma
    = f.check_box :is_it_lemma
  .field
    = f.label :width
    = f.number_field :width
  .actions
    = f.submit 'Save'
