%p#notice= notice

%p.text-center 
  %b Название:
  = @notebook.name
%p
  %b Содержание:
  = @notebook.description
-# %p
-#   %b User:
-#   = @notebook.user

= link_to 'Редактировать', edit_notebook_path(@notebook), class: "btn btn-light"
\|
= link_to 'Назад', notebooks_path, class: "btn btn-light"
