= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Имя
    = f.text_field :first_name, class: "form-control", type: "string", placeholder: "Имя"
  .field
    = f.label :Имя
    = f.text_field :first_name, class: "form-control", type: "string", placeholder: "Имя"
  .field
    = f.label :Имя
    = f.text_field :first_name, class: "form-control", type: "string", placeholder: "Имя"
  .field
    = f.label :Фамилия
    = f.text_field :second_name, class: "form-control", type: "string", placeholder: "Фамилия"
  .field
    = f.label :Отчество
    = f.text_field :last_name, class: "form-control", type: "string", placeholder: "Отчество"
  .field
    = f.select(:role_id, Role.all.collect {|p| [p.name, p.id]}, {include_blank: false, hide_label: true, readonly: "readonly"}, hidden: "true", value: 2)
  .actions
    = f.submit 'Зарегистрироваться', class: "btn btn-light"
