%p#notice= notice

%p
  %b Имя:
  = @user.first_name
%p
  %b Фамилия:
  = @user.second_name
%p
  %b Отчество:
  = @user.last_name
%p
  %b Роль:
  = @user.role

= link_to 'Редактировать', edit_user_path(@user), class: "btn btn-light"
\|
= link_to 'Назад', users_path, class: "btn btn-light"
