= form_for @grammar_dictionary do |f|
  - if @grammar_dictionary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@grammar_dictionary.errors.count, "error")} prohibited this grammar_dictionary from being saved:"
      %ul
        - @grammar_dictionary.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :dictionary
    = f.text_area :dictionary
  .field
    = f.label :book
    = f.text_field :book
  .actions
    = f.submit 'Save'
