%h1.text-center Список Грамматических словарей

%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Словарь
      %th{:scope => "col"} Книги
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  %tbody
    - @grammar_dictionaries.each do |grammar_dictionary|
      %tr
        %td= grammar_dictionary.dictionary
        %td= grammar_dictionary.book
        %td= link_to 'Просмотр', grammar_dictionary, class: "btn btn-light"
        %td= link_to 'Редактировать', edit_grammar_dictionary_path(grammar_dictionary), class: "btn btn-light"
        %td= link_to 'Удалить', grammar_dictionary, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-light"

%br

= link_to 'Добавить грамматический словарь', new_grammar_dictionary_path, class: "btn btn-light"
