%p#notice= notice

%p
  %b Dictionary:
  = @grammar_dictionary.dictionary
%p
  %b Book:
  = @grammar_dictionary.book

= link_to 'Edit', edit_grammar_dictionary_path(@grammar_dictionary)
\|
= link_to 'Back', grammar_dictionaries_path
