%h1 Listing frequency_vocabularies

%table
  %thead
    %tr
      %th Text
      %th Book
      %th
      %th
      %th

  %tbody
    - @frequency_vocabularies.each do |frequency_vocabulary|
      %tr
        %td= frequency_vocabulary.text
        %td= frequency_vocabulary.book
        %td= link_to 'Show', frequency_vocabulary
        %td= link_to 'Edit', edit_frequency_vocabulary_path(frequency_vocabulary)
        %td= link_to 'Destroy', frequency_vocabulary, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Frequency vocabulary', new_frequency_vocabulary_path
