%p#notice= notice

%p
  %b Частотник:
  = @frequency_vocabulary.text
%p
  %b Книги:
  = @frequency_vocabulary.book

= link_to 'Изменить', edit_frequency_vocabulary_path(@frequency_vocabulary), class: "btn btn-light"
\|
= link_to 'Назад', frequency_vocabularies_path, class: "btn btn-light"
