= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Название
    = f.text_field :name, class: "form-control", type: "string", placeholder: "Название"
  .field
    = f.label :Текст
    = f.text_area :text, class: "form-control", type: "text", placeholder: "Текст"
  .field
    = f.label :Автор
    = f.text_field :author, class: "form-control", type: "string", placeholder: "Автор"
  .actions
    = f.submit 'Save'
