%h1 Список книг

%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} Название
      %th{:scope => "col"} Текст
      %th{:scope => "col"} Автор
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}
  %tbody
    - @books.each do |book|
      %tr
        %td= book.name
        %td= book.text
        %td= book.author
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Book', new_book_path

-# %h1 Listing books

-# %table
-#   %thead
-#     %tr
-#       %th Text
-#       %th Author
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @books.each do |book|
-#       %tr
-#         %td= book.text
-#         %td= book.author
-#         %td= link_to 'Show', book
-#         %td= link_to 'Edit', edit_book_path(book)
-#         %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Book', new_book_path
