= form_for @ethnoidiogloss do |f|
  - if @ethnoidiogloss.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ethnoidiogloss.errors.count, "error")} prohibited this ethnoidiogloss from being saved:"
      %ul
        - @ethnoidiogloss.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Слово
    = f.text_field :word, class: "form-control", type: "string", placeholder: "Слово"
  .field
    = f.label :Описание
    = f.text_area :description, class: "form-control", type: "text", placeholder: "Описание"
  .field
    = f.label :Статус
    = f.number_field :status, class: "form-control", type: "integer", placeholder: "Статус"
  .field
    = f.label :Автор
    = f.text_field :author
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :Книги
    = f.text_field :books
  .actions
    = f.submit 'Сохранить', class: "btn btn-light"
